/**********************************************************************ABOUT US*******************************************************/
.links
{
	background-color: #f5f5f5;
}
.breadcrumb {
    
    margin-bottom: 0px;
}
.about_us
{
	padding-top: 2%;
	padding-bottom: 3%;
}
.about_us hr{
	width: 80%;
	color: #111;
}
/**********************************************************************ABOUT US*******************************************************/
